In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('양천구_불법주정차 단속현황.csv', encoding='cp949')
df.head()

              단속일시   단속원금   단속동        단속장소       위반내용 견인지시
0  2020-01-01 0:06  40,000  신월동   1동226-24앞     교통소통장애  미견인
1  2020-01-01 0:35  40,000  신월동    3동187-10  소방기계 비치장소  미견인
2  2020-01-01 6:22  40,000   목동  5동목동@5~6단지      버스정류소  미견인
3  2020-01-01 6:25  40,000   목동   5동목동@510동     도로 모퉁이  미견인
4  2020-01-01 9:54  40,000   목동  5동목동@533동앞         보도  미견인

In [3]:
df['단속동'].value_counts()

신정동     27935
목동      19287
신월동     19116
신정6동     3731
목5동      3523
목1동      3480
신정7동     1743
신월1동     1607
신정2동     1518
목2동      1219
목3동      1190
목4동      1134
목  동      737
신정4동      684
신정3동      645
신월7동      531
신월6동      421
신월5동      304
신월4동      156
신정1동      156
신월2동      115
신월3동       63
양천구        21
Name: 단속동, dtype: int64

In [12]:
mokdong = ['목1동','목2동','목3동','목4동','목  동','목5동']
mokdong

['목1동', '목2동', '목3동', '목4동', '목  동', '목5동']

In [15]:
df1 = df.replace(mokdong, '목동')
df1.head()

              단속일시   단속원금   단속동        단속장소       위반내용 견인지시
0  2020-01-01 0:06  40,000  신월동   1동226-24앞     교통소통장애  미견인
1  2020-01-01 0:35  40,000  신월동    3동187-10  소방기계 비치장소  미견인
2  2020-01-01 6:22  40,000   목동  5동목동@5~6단지      버스정류소  미견인
3  2020-01-01 6:25  40,000   목동   5동목동@510동     도로 모퉁이  미견인
4  2020-01-01 9:54  40,000   목동  5동목동@533동앞         보도  미견인

In [16]:
df1['단속동'].value_counts()

목동      30570
신정동     27935
신월동     19116
신정6동     3731
신정7동     1743
신월1동     1607
신정2동     1518
신정4동      684
신정3동      645
신월7동      531
신월6동      421
신월5동      304
신월4동      156
신정1동      156
신월2동      115
신월3동       63
양천구        21
Name: 단속동, dtype: int64

In [17]:
sinjung = ['신정1동','신정2동','신정3동','신정4동','신정5동','신정6동','신정7동']
sinjung

['신정1동', '신정2동', '신정3동', '신정4동', '신정5동', '신정6동', '신정7동', '신정1동']

In [18]:
df2 = df1.replace(sinjung, '신정동')
df2['단속동'].value_counts()

신정동     36412
목동      30570
신월동     19116
신월1동     1607
신월7동      531
신월6동      421
신월5동      304
신월4동      156
신월2동      115
신월3동       63
양천구        21
Name: 단속동, dtype: int64

In [41]:
sinwol = ['신월1동','신월2동','신월3동','신월4동','신월5동','신월6동','신월7동']
df3 = df2.replace(sinwol, '신월동')
df3['단속동'].value_counts()
df3.head()

              단속일시   단속원금   단속동        단속장소       위반내용 견인지시
0  2020-01-01 0:06  40,000  신월동   1동226-24앞     교통소통장애  미견인
1  2020-01-01 0:35  40,000  신월동    3동187-10  소방기계 비치장소  미견인
2  2020-01-01 6:22  40,000   목동  5동목동@5~6단지      버스정류소  미견인
3  2020-01-01 6:25  40,000   목동   5동목동@510동     도로 모퉁이  미견인
4  2020-01-01 9:54  40,000   목동  5동목동@533동앞         보도  미견인

In [86]:
df3.columns

Index(['단속일시', ' 단속원금 ', '단속동', '단속장소', '위반내용', '견인지시'], dtype='object')

In [87]:
df4 = df3.drop(['위반내용','견인지시',' 단속원금 '],axis=1)
df4["단속일시"]=df4["단속일시"].str[0:4]
df4

       단속일시  단속동             단속장소
0      2020  신월동        1동226-24앞
1      2020  신월동         3동187-10
2      2020   목동       5동목동@5~6단지
3      2020   목동        5동목동@510동
4      2020   목동       5동목동@533동앞
...     ...  ...              ...
89311  2020   목동       목5동 주민센터 앞
89312  2020  신정동  양천구청역 2번출구앞 삼거리
89313  2020  신정동         홍익병원앞 부근
89314  2020  신정동            313-4
89315  2020  신월동         3동187-11

[89316 rows x 3 columns]

In [120]:
df_1 = df4[df4['단속동']=='양천구']
b = ['오목', '목동']
b = "|".join(b)
if b in df_1['단속장소']:
    df_1['단속동'].replace('양천구', '목동')
    print(df_1)

       단속일시  단속동         단속장소
56201  2020  양천구      신목로7길 5
56222  2020  양천구     목동동로 210
56226  2020  양천구     목동동로 210
56229  2020  양천구      오목로 312
56230  2020  양천구      오목로 312
56232  2020  양천구    목동 406-14
56234  2020  양천구    목동 406-14
88568  2020  양천구      신정중앙로76
88663  2020  양천구       은행정로73
88668  2020  양천구       오목로233
88906  2020  양천구      신정중앙로67
88907  2020  양천구      신정중앙로65
88908  2020  양천구      신정중앙로61
88909  2020  양천구      신정중앙로54
88910  2020  양천구      신정중앙로62
88911  2020  양천구       신정중알38
88912  2020  양천구      신정중앙로50
89243  2020  양천구     가로공원로162
89245  2020  양천구  곰달래로13길72-1
89246  2020  양천구    곰달래로13길62
89260  2020  양천구     가로공원로158

In [115]:
b in df_1['단속장소']

False

True

In [101]:
df_1['단속장소']

56201        신목로7길 5
56222       목동동로 210
56226       목동동로 210
56229        오목로 312
56230        오목로 312
56232      목동 406-14
56234      목동 406-14
88568        신정중앙로76
88663         은행정로73
88668         오목로233
88906        신정중앙로67
88907        신정중앙로65
88908        신정중앙로61
88909        신정중앙로54
88910        신정중앙로62
88911         신정중알38
88912        신정중앙로50
89243       가로공원로162
89245    곰달래로13길72-1
89246      곰달래로13길62
89260       가로공원로158
Name: 단속장소, dtype: object

In [89]:
df_group = df4.groupby('단속동')
a = pd.DataFrame(df_group.count())

In [95]:
a['단속연도'] = 2020
a['구'] = '영등포구'
a

      단속일시   단속장소  단속연도     구
단속동
목동   30570  30570  2020  영등포구
신월동  22313  22313  2020  영등포구
신정동  36412  36412  2020  영등포구
양천구     21     21  2020  영등포구